<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="app">
      <p>{{ message }}</p>
      <input type="text" name="" id="" :value="message">
      <ol>
        <li v-for="item in list">{{ item }}</li>
      </ol>
      <button v-on:click="handleClick">Click</button>
      <input v-model="message">
      <button v-on:click="show=!show">Switch</button>
      <transition>
        <p v-if="show">Hello Vue.js!</p>
      </transition>
      <div>
        <p>Clicked count: {{ count }}</p>
        <button v-on:click="increment">Increment the count</button>
      </div>
      <hr>
      <pre>{{ $data }}</pre>
    </div>
    <script src="//cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
